# Server
PORT=3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Google Cloud / PubSub
GCP_PROJECT_ID=

# AI / Security APIs
GEMINI_API=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent
GEMINI_API_KEY=
GOOGLE_SAFE_BROWSING_API=https://safebrowsing.googleapis.com/v4/threatMatches:find
GOOGLE_SAFE_BROWSING_API_KEY=
